<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h2>Welcome To Your Online Banking</h2>
        <img src="images/Bank-image.jpeg" alt="">
        <form class="form" action="/submit" method="post">
            <input class="input" type="text" name="username" placeholder="Username" required autofocus>
            <br>
            <input class="input" type="password" name="password" placeholder="Password">
            <br>
            <button class="submit" type="submit" value="submit" name="Submit" name="submit">Submit</button>
        </form>

    </div>


</body>

</html>