<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <title>Document</title>
    <style>
        footer {

            width: 100%;
            margin-top: 30rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-top: 0.1rem solid black;

        }

        i {
            padding-left: .2cm;
            padding-top: .2cm;
            margin-top: .3cm;
            margin-right: .5cm;
            width: 2rem;
            height: 2rem;
            background-color: #939695;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.3rem;
            color: #3a3a3c;
            cursor: pointer;
        }
    </style>
</head>
<footer>
    <i class="fa-brands fa-facebook-f"></i>
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-twitter"></i>
    <i class="fa-brands fa-linkedin-in"></i>
</footer>

</html>