<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        header {
            background-image: url('images/Bank-Pcture.jpg');
        }
    </style>
    <title>Document</title>
</head>

<body>
    <header>
        <img height="200cm" width="100%" src="images/Bank-Pcture.jpg" alt="Your Image">
    </header>

</body>

</html>